@import 'variables.less';

#forum{
	display: inline-block;
	.colorize{
		color: @king-blue;
		font-weight: bold;
	}
	table{
		width: @calculated-width;
		border-collapse: collapse;
		tr{
			border-bottom: 1px dashed @spec-blue;
		}
		tr:last-child{
			border-bottom: none;
		}
		.row-center{
			text-align: center;
		}
		span{
			font-style: italic;
		}
		a{
			font-size: 18px;
			font-weight: bold;
			color: @king-blue;
			text-decoration: none;
		}
		a:hover{
			color: #666;
		}
	}
	
}
.forum-group{
	.group-name{
		padding-left: 30px;
		color: #fff;
		font-weight: bold;
		font-size: 22px;
		background-color: #666;
	}
	width: @calculated-width;
	border-bottom: none;
}

.forum-topic:hover {
	background-color: #EEE;
	cursor: pointer;
}

.forum-topic {
	clear: both;
	height: 40px;

	.forum-text {
		float: left;

		p {
			margin: 0px;
		}
	}

	.forum-statistic {
		float: right;

		p {
			margin-top: 1px;
		}
	}
}