<div id="forum">

<div class="forum-group" >
  <div class="group-name" data-ng-show="currentUser != null && currentUser.guildRank <= 3">Officers</div>          

  <div class="forum-topic" data-ng-click="redirectToTopic(category.id)" data-ng-repeat="category in categoryGroups | filter: { group_id: 0 }">
    <div class="forum-text">
      <p class="forum-title"><span class="colorize">{{ category.title }}</span></p>
      <p class="forum-descirption">{{ category.description }}</p>
    </div>
    <div class="forum-info">
      <p class="forum-statistic" data-ng-show="category.last_post_name">
        Last by {{category.last_post_name}}<br/>At {{category.last_post_time}}
      </p>
    </div>
  </div>
</div>

<div class="forum-group" >
  <div class="group-name" data-ng-show="currentUser != null">Members</div>          

  <div class="forum-topic" data-ng-click="redirectToTopic(category.id)" data-ng-repeat="category in categoryGroups | filter: { group_id: 1 }">
    <div class="forum-text">
      <p class="forum-title"><span class="colorize">{{ category.title }}</span></p>
      <p class="forum-descirption">{{ category.description }}</p>
    </div>
    <div class="forum-info">
      <p class="forum-statistic" data-ng-show="category.last_post_name">
        Last by {{category.last_post_name}}<br/>At {{category.last_post_time}}
      </p>
    </div>
  </div>
</div>

<div class="forum-group" >
  <div class="group-name">Public</div>          

  <div class="forum-topic" data-ng-click="redirectToTopic(category.id)" data-ng-repeat="category in categoryGroups | filter: { group_id: 2 }">
    <div class="forum-text">
      <p class="forum-title"><span class="colorize">{{ category.title }}</span></p>
      <p class="forum-descirption">{{ category.description }}</p>
    </div>
    <div class="forum-info">
      <p class="forum-statistic" data-ng-show="category.last_post_name">
        Last by {{category.last_post_name}}<br/>At {{category.last_post_time}}
      </p>
    </div>
  </div>
</div>

</div>