/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/reset.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';


/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import 'variables.less';

/**
*	Imports the spesific less files
*/
@import '../app/home/home.less';
@import '../app/register/register.less';
@import '../app/forum/forum.less';
@import '../app/forum/topic.less';
@import '../app/forum/post.less';
@import '../app/members/members.less';
@import '../app/about/about.less';

/* - GENERIC - */
body{
	font-family: "Helvetica Neue", Arial, adelle-sans, sans-serif;
	font-size: 1.025em;
	line-height: normal;
	padding: 0;
	margin: 0;
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #000;
}
ul{
	list-style-image: url('list-icon.png');
}
p{
	text-align: justify;
}
.cl{
	clear:both;
}
#wrapper-header{
	color: @color-white;
	height: 68px;
	background-image: url('new.png');
	background-repeat: repeat-x;
}
#header-navigation{
	ul{
		padding: 9px;
		margin: 3px;
		a{
			text-decoration: none;
			background-color: transparent;
			padding: 9px @padding;
			color: #fff;
			text-align: center;
			li{
				display: inline;
				height: 40px;
			}
		}
		a:hover{
			background-color: rgba(255,255,255,0.2);
			color: @spec-blue;
		}
	}
}
#header-navigation, #header-title{
	height: 45px;
}
#header-navigation{
	min-width: 200px;
	display: inline-block;
}
#header-title{
	position: relative;
	width: @title-width;
	margin-top: 4px;
	height: 20px;
	display: inline;
	text-align: center;
	font-variant: small-caps;
	font-size: 50px;
	float: right;
}
.page-title-debug{
	padding-left: 25px;
	color: #fff;
	font-size: 18px;
}
.tab-up, .tab-down{
	display: block;
	width: @tab-const-width;
	height: @tab-const-height;
	background-repeat: no-repeat;
}
.tab-up{
	background-image: url('top-tab.png');
}
.tab-down{
	float: right;
	background-image: url('bottom-tab.png');
}

#header-holder, #wrapper-footer, #wrapper-container{
	margin: 0 auto;
	width: @site-width;
}
#header-holder{
	height: inherit;
}
#wrapper-container{
	display: block;
	margin-bottom: @tab-const-height;
}
#wrapper-footer{
	display: block;
	height: 91px;
	#footer-text-holder{
		background-image: url('new.png');
		height: 45px;
		#footer-text{
			vertical-align: middle;
			padding-top: 13px;
			text-align: center;
			color: @color-dark-grey;
		}
	}
}
#container-body{
	display: inline-block;
	min-height: 100px;
	position: relative;
	background-color: @color-light-grey;	
	width: @calculated-width;
	padding: 0px @padding @padding @padding;
	border: 2px solid @spec-blue;
}
#upper-container{
	display: block;
	width: @calculated-width;
	float: left;
}
#bottom-container{
	width: @calculated-width;
	display: block;
	clear:both;
}
#login-panel-holder{
	float: right;
	width: 550px;
	height: 60px;
	display: inline-block;
	text-align: center;
	background-image: url('login-style.png');
	background-repeat:repeat-x;
	background-color: @color-dark-grey;
	background-position: bottom;
	.login-fields{
		margin: 3px 0;
		min-width: 60px;
		max-height: 60px;
		display: inline-block;
		background-color: transparent;
		position: relative;
		h3{
			font-weight: normal;
			font-size: 18px;
			padding: 0;
			margin: 0;
			line-height: normal;
			display: block;
			b{
				color: @king-blue;
			}
		}
	}
	.debug-login-fields{
		width: 288px;
	}
	.login-style{
		background-image: url('login-panel.png');
		background-repeat: no-repeat;
		float: left;
		height: 60px;
		display: block;
		width: 70px;
	}
	.style-right{
		float: right;
		background-image: url('login-panel-inv.png');
	}
}
.note{
	color: @spec-blue;
	display: inline;
	max-width: 396px;
	padding-top: 5px;
	display: block;
	float: left;
	font-style: italic;
}
.button{
	width: 100px;
	background-color: @color-light-grey;
	color: @king-blue;
	border: 1px solid @spec-blue;
	border-radius: 2px;
	outline: none;
	margin-top: 2px;
	border-radius: 3px;
}
.button-right{
	float: right;
}
/*
.field{
	width: 130px;
	border: 1px solid @spec-blue;
	padding: 0 5px;
	height: 20px;
	border-radius: 2px;
	outline: none;
	background-color: @color-light-grey;
	color: @king-blue;
}
.field:focus, .button:hover{
	border-color: @spec-blue;
	color: @color-white;
	background-color: #666;
}
*/
/* FORM */
fieldset {
	margin: 0px;
	padding: 1em;
	width: @calculated-width;

	.controller {
		padding: 10px;
		min-height: 40px;
	}

	.error {
		font-size: 18px;
		color: red;
	}

	input[type="text"],
	input[type="password"] {
		border-radius: 3px;
		width: @calculated-width - 40px;
		margin-top: 0em;
		padding: 5px;
		margin-bottom: 1em;
	}

	.checkbox-field {
		width: @calculated-width - 40px;
		padding: 5px;
		font-weight: bold;
	}

	input[type="checkbox"] {
		margin-left: 0.5em;
		border-radius: 3px;
		padding: 10px;
		width: 20px;
		height: 20px;
	}

	textarea {
		border-radius: 3px;
		width: @calculated-width - 40px;
		padding: 5px;
		margin-bottom: 1em;
		
		font-family: "Helvetica Neue", Arial, adelle-sans, sans-serif;
		font-size: 1.025em;
		line-height: normal;

		border-top: #9A9A9A solid 2px;
		border-left: #9A9A9A solid 2px;
		border-bottom: #EEEEEE solid 2px;
		border-right: #EEEEEE solid 2px;

		resize: none;
	}

	input[type="submit"] {
		float: right;
		margin-right: 25px;
		min-width: 40px;

		border:1px solid #34740e; 
		-webkit-border-radius: 3px; 
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 5px 10px 5px 10px; 
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		font-weight:bold; 
		color: #FFFFFF;
		background-color: #4ba614; background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#008c00));
		background-image: -webkit-linear-gradient(top, #4ba614, #008c00);
		background-image: -moz-linear-gradient(top, #4ba614, #008c00);
		background-image: -ms-linear-gradient(top, #4ba614, #008c00);
		background-image: -o-linear-gradient(top, #4ba614, #008c00);
		background-image: linear-gradient(to bottom, #4ba614, #008c00);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#008c00);
	}

	.cancel {
		float: right;
		border-radius: 3px;
		margin-right: 10px;

		border:1px solid #34740e; 
		-webkit-border-radius: 3px; 
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 5px 10px 5px 10px; 
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		font-weight:bold; 
		color: #FFFFFF;background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
		background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
		background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
		background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
		background-image: -o-linear-gradient(top, #f62b2b, #d20202);
		background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
	}

	/*HOVER*/
	input[type="text"]:hover,
	input[type="password"]:hover,
	input[type="submit"]:focus,
	textarea:hover,
	button:focus {
		background-color: #EEE;
	}

	input[type="submit"]:hover {
		border:1px solid #224b09;
		background-color: #36780f; background-image: -webkit-gradient(linear, left top, left bottom, from(#36780f), to(#005900));
		background-image: -webkit-linear-gradient(top, #36780f, #005900);
		background-image: -moz-linear-gradient(top, #36780f, #005900);
		background-image: -ms-linear-gradient(top, #36780f, #005900);
		background-image: -o-linear-gradient(top, #36780f, #005900);
		background-image: linear-gradient(to bottom, #36780f, #005900);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#36780f, endColorstr=#005900);
	}

	.cancel:hover {
		border:1px solid #b30808;
		background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
		background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
		background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
		background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
		background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
		background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
	}
}