/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/reset.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';


/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import 'variables.less';

/**
*	Imports the spesific less files
*/
@import '../app/home/home.less';
@import '../app/register/register.less';

@body-background-color: #010101;
@site-width: 990px;
@transparent: 0;
@border-color: #888;
@spec-blue: #0e1724;


/* - GENERIC - */
body{
	font-family: "Helvetica Neue", Arial, adelle-sans, sans-serif;
	font-size: 1em;
	line-height: normal;
	padding: 0;
	margin: 0;
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: @body-background-color;
}
#wrapper{
	min-height: 100%;
}
.cl{
	clear:both;
}
/* - HEAD - */

#header-wrapper{
	display: block;
	height: 55px;
	background-image: url('navbar-background.png');
}
#header-holder{
	min-height: 50px;
	width: @site-width;
	margin: 0px auto;
}
#navigation{
	ul{
		background-image: url('navbar-background.png');
		background-repeat: no-repeat;  
		margin: 0;
		background-color: rgba(0,0,0,@transparent);
		padding-top: 15px;
		height: 34px;

		a {
			color: #fff;
			text-decoration: none; 
			background-color: rgba(0,0,0,@transparent);
			li {
				display: inline;
				font-size: 17px;
				font-family: arial;
				padding: 14px 25px;
				height: 30px;
			}
			li:hover{
				color: @spec-blue;
				background-color: rgba(200, 200, 200, 0.2);
			}
		}

	}

} 
#nav-padder{
	height: 35px;
	background-color: rgba(0,0,0,@transparent);
	background-image: url('nav-boarder.png');
	background-repeat: no-repeat;
}
#title{
	width: 500px;
	text-align: center;
	display: inline;
	font-size:50px;
	color: #fff;
	font-variant: small-caps;
	margin-top: 9px;
	float: right;
	display: inline;
}

/* - BODY - */

#body-wrapper{
	line-height: 1.625em;
	width: @site-width;
	display: block;
	margin: 0px auto;
}
fieldset{
	border: none;
	padding: 2px 20px;
	.field{
		outline: none;
		padding: 5px 10px;
		border: 1px solid @border-color;
		border-radius: 2px;
		width: 240px;
	}
	.field:focus{
		border: 1px solid #04f;
	}
	.assign-right{
		float:right;
	}
	a{
		text-decoration: none;
	}
	.reg-btn{
		width: 100px;
		text-align: center;
		vertical-align: center;
		height: 26px;
		border: 1px solid @border-color;
		background-color: #aaa;
		border-radius: 2px;
		color: #000;
	}
	.reg-btn:hover{
		border: 1px solid #04f;
		color: #fff;
		background-color: #777;
	}
	.sub-btn{
		border: 1px solid #888;
		background-color: #aaa;
		height: 28px;
		border-radius: 2px;
		width: 100px;
	}
	.sub-btn:hover{
		border: 1px solid #04f;
		color: #fff;
		background-color: #777;
	}
}
#container{

	width: 100%;
	display: block;
	position: relative;
	.title{
		height: 25px;
		padding: 8px 0 0 50px;
		color: #fff;
		font-size: 18px;
		margin: 0;
		background-image: url('container.png');
	}
	.container-body{
		box-shadow: 30px 0 60px -10px rgba(21, 32, 52, 0.7), -30px 0 60px -10px rgba(21, 32, 52, 0.7);
		border-left: 2px solid @spec-blue;
		border-right: 2px solid @spec-blue;
		display: inline-block;
		background-color: #ddd;
		padding: 20px;
		color: #000;
		p{
			text-align: justify;
		}
		.left-container{
			width: 300px;
			display: block;
			float: left;
			padding: 15px;
			margin: 5px 15px 5px 5px;
			border-right: 1px dashed #04f;
			border-bottom: 1px dashed #04f;
			h2{
				margin: 0;
				font-size: 20px;
				border-bottom: 1px dashed #04f;
			}
		}
		.right-container{
			display: block;
			float: right;
			width: 586px;
			min-height: 200px;
			.article{
				display: block;
				min-height: 100px;
				.article-head{
					h2{
						font-size: 26px;
						margin: 15px 5px;
						padding: 0px 15px;
						display: inline-block;
					}
					span{
						float: right;
						font-size: 12px;
						display: inline;
						color: #888;
					}
				}
				.article-body{
					p{
						line-height: 1.625em;
					}
				}
			}
		}
	}
	.foot{
		height: 33px;
		margin-top: -9px;
		background-image: url('nav-boarder.png');
	}

}

/* - FOOTER - */
#footer-wrapper{
	position:relative;
	width: @site-width;
	margin: 0 auto;
	vertical-align: bottom;
	height: 60px;
	display: block;
	#footer-base{
		background-image: url('navbar-background.png');
		height: 35px;
		width: 100%;
		#footer-text{
			padding-top: 8px;
			width: @site-width;
			text-align: center;
			margin: 0 auto;
			color: #999;
		}
	}
	#footer-padder{
		width: @site-width;
		height: 33px;
		margin-bottom: -4px;
		background-image: url('container.png');
		background-repeat: no-repeat;
	}
	#footer-bottom-padder{
		width: @site-width;
		height: 33px;
		background-image: url('nav-boarder.png');
	}
}