/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/reset.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/layouts.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';


/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import 'variables.less';

/**
*	Imports the spesific less files
*/
@import '../app/home/home.less';
@import '../app/register/register.less';
@import '../app/forum/forum.less';
@import '../app/members/members.less';
@import '../app/about/about.less';

/* - GENERIC - */
body{
	font-family: "Helvetica Neue", Arial, adelle-sans, sans-serif;
	font-size: 1.025em;
	line-height: normal;
	padding: 0;
	margin: 0;
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #000;
}
ul{
	list-style-image: url('list-icon.png');
}
p{
	text-align: justify;
}
.cl{
	clear:both;
}
#wrapper-header{
	color: @color-white;
	height: 68px;
	background-image: url('new.png');
	background-repeat: repeat-x;
}
#header-navigation{
	ul{
		padding: 9px;
		margin: 3px;
		a{
			text-decoration: none;
			background-color: transparent;
			padding: 9px @padding;
			color: #fff;
			text-align: center;
			li{
				display: inline;
				height: 40px;
			}
		}
		a:hover{
			background-color: rgba(255,255,255,0.2);
			color: @spec-blue;
		}
	}
}
#header-navigation, #header-title{
	height: 45px;
}
#header-navigation{
	min-width: 200px;
	display: inline-block;
}
#header-title{
	position: relative;
	width: @title-width;
	margin-top: 4px;
	height: 20px;
	display: inline;
	text-align: center;
	font-variant: small-caps;
	font-size: 50px;
	float: right;
}
.page-title-debug{
	padding-left: 25px;
	color: #fff;
	font-size: 18px;
}
.tab-up, .tab-down{
	display: block;
	width: @tab-const-width;
	height: @tab-const-height;
	background-repeat: no-repeat;
}
.tab-up{
	background-image: url('top-tab.png');
}
.tab-down{
	float: right;
	background-image: url('bottom-tab.png');
}

#header-holder, #wrapper-footer, #wrapper-container{
	margin: 0 auto;
	width: @site-width;
}
#header-holder{
	height: inherit;
}
#wrapper-container{
	display: block;
	margin-bottom: @tab-const-height;
}
#wrapper-footer{
	display: block;
	height: 91px;
	#footer-text-holder{
		background-image: url('new.png');
		height: 45px;
		#footer-text{
			vertical-align: middle;
			padding-top: 13px;
			text-align: center;
			color: @color-dark-grey;
		}
	}
}
#container-body{
	display: inline-block;
	min-height: 100px;
	position: relative;
	background-color: @color-light-grey;	
	width: @calculated-width;
	padding: 0px @padding @padding @padding;
	border: 2px solid @spec-blue;
}
#upper-container{
	display: block;
	width: @calculated-width;
	float: left;
}
#bottom-container{
	width: @calculated-width;
	display: block;
	clear: both;
}
#login-panel-holder{
	float: right;
	width: 550px;
	height: 60px;
	display: inline-block;
	text-align: center;
	background-image: url('login-style.png');
	background-repeat:repeat-x;
	background-color: @color-dark-grey;
	background-position: bottom;
	.login-fields{
		margin: 3px 0;
		min-width: 60px;
		display: inline-block;
		background-color: transparent;
		position: relative;
		h3{
			font-weight: normal;
			display: inline;
		}
	}
	.login-style{
		background-image: url('login-panel.png');
		background-repeat: no-repeat;
		float: left;
		height: 60px;
		display: block;
		width: 70px;
	}
	.style-right{
		float: right;
		background-image: url('login-panel-inv.png');
	}
}
.note{
	color: @spec-blue;
	display: inline;
	max-width: 396px;
	padding-top: 5px;
	display: block;
	float: left;
	font-style: italic;
}
.button{
	width: 100px;
	background-color: @color-light-grey;
	color: @king-blue;
	border: 1px solid @spec-blue;
	border-radius: 2px;
	outline: none;
	margin-top: 2px;
}
.button-right{
	float: right;
}
.field{
	width: 130px;
	border: 1px solid @spec-blue;
	padding: 0 5px;
	height: 20px;
	border-radius: 2px;
	outline: none;
	background-color: @color-light-grey;
	color: @king-blue;
}
.field:focus, .button:hover{
	border-color: @spec-blue;
	color: @color-white;
	background-color: #666;
}