/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';

@site-width: 990px;
@padding: 20px;
@calculated-width: 946px;
@transparent: 0;

/* COLORS */
@spec-blue: #0E1724;
@border-color: #888;
@dark-grey-color: #888;
@focus-background-color: #fff;
@body-background-color: #010101;
@focus-border-color: @spec-blue;
@focus-color: @spec-blue;