@import 'variables.less';

@min-height: 60px;

.article{
	min-height: @min-height;

	.article-head{
		display: block;
		min-height: 45px;
		
		img {
			float: left;
			height: 20px;
			width: 20px;
			margin-top: 18px;
			margin-left: 10px;
		}
		h2{
			float: left;
			display: block;
			font-size: 28px;
		}
		span{
			margin-top: 15px;
			float: right;
			display: inline-block;
			font-style: italic;
		}
	}
	.article-body{
		pre {
			font-family: "Helvetica Neue", Arial, adelle-sans, sans-serif;
			font-size: 1.025em;
			line-height: normal;
		}
	}
}