<div class="left-container">
  <div class="login" data-ng-show="!currentUser">
    <h2>Login</h2>
    <form data-ng-submit="login()">
      <fieldset>
        <table>
          <tr>
          <td colspan="2"><input type="text" name="" placeholder="Username" class="field" data-ng-model="formData.username"></td>
        </tr>
        <tr>
          <td colspan="2"><input type="password" name="" placeholder="Password" class="field" data-ng-model="formData.oassword"></td>
        </tr>
        <tr>
           <p>{{ loginMsg }}</p>
        </tr>
        <tr>
          <td>
              <a href="#/register"><div class="reg-btn">Register</div></a>
          </td>
          <td class="assign-right">
          <input type="submit" name="" value="Login" class="sub-btn">
        </td>
        </tr>
        </table>
      </fieldset>
    </form>
  </div>
</div>
<div class="right-container">
  <div class="article">
    <div class="article-head">
      <h2>Our brand new website</h2><span>Tyekx @ 2014.02.21. 18:01</span>
    </div>
    <div class="article-body">
      <p>Since our website has been made new opportunities are in sight, this is just some random bullsit anyways. But I'll keep typing it for having this little text appearing on the front page, can't wait to see this page all together.</p>
    </div>
  </div>
</div>
<div class="right-container">
  <div class="article">
    <div class="article-head">
      <h2>Our brand new website</h2><span>Tyekx @ 2014.02.21. 18:01</span>
    </div>
    <div class="article-body">
      <p>Since our website has been made new opportunities are in sight, this is just some random bullsit anyways. But I'll keep typing it for having this little text appearing on the front page, can't wait to see this page all together.</p>
    </div>
  </div>
</div>
<div class="right-container">
  <div class="article">
    <div class="article-head">
      <h2>Our brand new website</h2><span>Tyekx @ 2014.02.21. 18:01</span>
    </div>
    <div class="article-body">
      <p>Since our website has been made new opportunities are in sight, this is just some random bullsit anyways. But I'll keep typing it for having this little text appearing on the front page, can't wait to see this page all together.</p>
    </div>
  </div>
</div>
<div class="right-container">
  <div class="article">
    <div class="article-head">
      <h2>Our brand new website</h2><span>Tyekx @ 2014.02.21. 18:01</span>
    </div>
    <div class="article-body">
      <p>Since our website has been made new opportunities are in sight, this is just some random bullsit anyways. But I'll keep typing it for having this little text appearing on the front page, can't wait to see this page all together.</p>
    </div>
  </div>
</div>