<h2>Register</h2>
<p>
	To be able to register on this site you need to have an active character in World of Warcraft above level 10. All information about your character will be gathered at the armory for the leaders to check your credentials.
</p>
<p>
	First thing you need to do, is enter World of Warcraft, and unequip <span class="bold">chest</span> and <span class="bold">main hand weapon</span>. When it's done, you can fill in the form and click register.
</p>
<form data-ng-submit="register()">
	<input type="text" placeholder="Username.." data-ng-model="formData.username">
	<input type="text" placeholder="Server.." data-ng-model="formData.server">
	<span class="error">{{ errorUsernameOrServer }}</span>
	<input type="password" placeholder="Password.." data-ng-model="formData.password">
	<input type="password" placeholder="Repeat Password.." data-ng-model="formData.password2">
	<span class="error">{{ errorPassword }}</span>
	<input type="textarea" placeholder="About yourself" data-ng-model="formData.about">
	<button type="submit">Register</button>
</form>

<p class="register-success" data-ng-model="registerSuccess"></p>
