
<div class="left-container reg-modifier"><h2>Good to know:</h2>
            <p>
            <ul>
              <li>When you press &quot;Apply&quot; button, you are also creating an application into our guild!</li>
              <li>Please <u>unequip</u> your <u>chest</u> and <u>weapon(s)</u> in-game before attempting to apply!<br> By doing so you are validating your application.</li>
              <li>Username equals to the character name if it is not that obvious.</li>
              <li>Using our services means accepting the <a href="#">Terms of Use</a>. By violating it at any point the access to the services are revoked immidiately.</li>
            </ul>
          </p>
</div>


<div class="right-container"><h2>Creat an application...</h2>
<fieldset>
  <form data-ng-submit="register()">
  <table>
    <tr>
      <td><input type="text" placeholder="Username" class="field-reg" data-ng-model="formData.username"></td>
    </tr>
    <tr>
      <td><input type="text" placeholder="Realm" class="field-reg" data-ng-model="formData.server"></td>
    </tr>{{ errorUsernameOrServer }}
    <tr>
      <td><input type="text" placeholder="Email adress" class="field-reg" data-ng-model="formData.email"></td>
    </tr>
    <tr>
      <td><input type="password" placeholder="Password" class="field-reg" data-ng-model="formData.password"></td>
    </tr>
    <tr>
      <td><input type="password" placeholder="Password again" class="field-reg" data-ng-model="formData.password2"></td>
    </tr>{{ errorPassword }}
    <tr>
      <td><textarea placeholder="Enter a short bio" data-ng-model="formData.about"></textarea></td>      
    </tr>
    <tr class="assign-center">
      <td><input type="submit" value="Apply" class="sub-btn" data-ng-click="register()"></td>     
    </tr>
    <tr>
    	<td>{{ registerError }}</td>
    </tr>
    <tr>
    	<td><p class="register-success" data-ng-model="registerSuccess"></p></td>
    </tr>
  </table>
  </form>
</fieldset>
</div>


