<h2>Register Screen</h2>

<p>
	To be able to register on this site you need to have an active character in World of Warcraft above level 10.
</p>

<h3>Validate Character</h3>
<p>
Coming...
</p>

<h3>Register</h3>

<form data-ng-submit="register()">
	<input type="text" placeholder="Username.." data-ng-model="username">
	<input type="password" placeholder="Password.." data-ng-model="password">
	<input type="password" placeholder="Password.." data-ng-model="password2">

	<button type="submit">Register</button>
</form>

{{ console }}